body {
  height: 100vh;
  margin: 0;
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

main {
  padding: 30px 0;
}

footer {
  border-top: 1px solid #dee7ec;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  padding: 20px 0 0 0;
  text-align: center;
}

.weather-app {
  background: white;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  margin: 45px auto;
  width: 600px;
  padding: 30px;
}

.cloud {
  max-width: 50px;
}

.header {
  font-family: "Dancing Script", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 50px;
}

.search-form-input {
  background: #dee7ec;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  margin: 20px 10px;
  padding: 15px 20px;
  width: 460px;
}

.search-form-button {
  background: #8956e2;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  padding: 15px 30px;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  margin: 0;
  font-size: 48px;
  line-height: 58px;
  position: relative;
  top: 10px;
  left: 20px;
}

.weather-app-time {
  font-size: 18px;
  line-height: 28px;
  position: relative;
  bottom: 55px;
  left: 425px;
}

.change-parameters {
  font-size: 15px;
}

.weather-app-details {
  font-size: 16px;
  line-height: 26px;
}

.weather-app-details strong {
  color: #18dd95;
}

.weather-app-temperature-container {
  display: flex;
  position: relative;
  bottom: 70px;
  left: 20px;
}

.weather-app-icon {
  font-size: 50px;
  margin-top: 22px;
}

.weather-app-temperature-value {
  font-size: 88px;
  font-weight: bold;
  margin-left: 10px;
}

.weather-app-unit {
  margin-top: 20px;
  font-size: 28px;
}

.coder {
  color: blueviolet;
  font-family: monospace;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
}
