body {
  height: 100vh;
  margin: 0;
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

.weather-app {
  background: white;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  margin: 45px auto;
  max-width: 600px;
  padding: 30px;
}

.coder {
  color: blueviolet;
  font-family: monospace;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
}
